<div class="background"></div>
<nav id="navBar" class="navBar">
  <div class="title">Le Quai Antique</div>
  <li id="navList" class="navList">
    <ul><a class="no-dec" routerLink="/accueil" routerLinkActive="active">Accueil</a></ul>
    <ul><a class="no-dec" routerLink="/carte" routerLinkActive="active">Carte</a></ul>
    <ul><a class="no-dec" routerLink="/reserver" routerLinkActive="active">Réserver</a></ul>
    <ul><button class="profile" (click)="showProfileMenu()"><img src="Le-Quai-Antique-Java/assets/images/icons8-person-24.png"
                                     alt="icon made by https://icons8.com/icon/86320/person"></button></ul>
  </li>
  <div (click)="showSubMenu()" class="hamb">
    <div class="hambline"></div>
    <div class="hambline"></div>
    <div class="hambline"></div>
  </div>
</nav>
<li class="hidden-menu-phone" [hidden]="menuPhoneHidden">
  <ul><a class="no-dec" (click)="hideMenus()" routerLink="/accueil" routerLinkActive="active">Accueil</a></ul>
  <ul><a class="no-dec" (click)="hideMenus()" routerLink="/carte" routerLinkActive="active">Carte</a></ul>
  <ul><a class="no-dec" (click)="hideMenus()" routerLink="/reserver" routerLinkActive="active">Réserver</a></ul>
  <ul *ngIf="isConnected" ><a class="no-dec" (click)="hideMenus()" routerLink="/profil/infos" routerLinkActive="active">Mon compte</a></ul>
  <ul *ngIf="isConnected" ><div (click)="disconnect()" class="disconnect no-dec">Me déconnecter</div></ul>
  <ul *ngIf="!isConnected"><a class="no-dec" (click)="hideMenus()" routerLink="/profil/connexion" routerLinkActive="active">Me connecter</a></ul>
</li>

<li class="hidden-menu-phone" [hidden]="menuProfilHidden">
  <ul *ngIf="isConnected" ><a class="no-dec"  (click)="hideMenus()" routerLink="/profil/infos" routerLinkActive="active">Mon compte</a></ul>
  <ul *ngIf="isConnected" ><a (click)="disconnect()" class="disconnect no-dec">Me déconnecter</a></ul>
  <ul *ngIf="!isConnected"><a class="no-dec" (click)="hideMenus()" routerLink="/profil/connexion" routerLinkActive="active">Me connecter</a></ul>
</li>
