<div class="background"></div>
<nav id="navBar" class="navBar">
  <div class="title">Le Quai Antique</div>
  <li id="navList" class="navBar">
    <ul><a href="/accueil">Accueil</a></ul>
    <ul><a href="/plat">Carte</a></ul>
    <ul><a href="/contact">Contact</a></ul>
    <ul><a href="/reservation">Réserver</a></ul>
    <ul><button class="profile"><img src="assets/images/icons8-person-24.png"
                                     alt="icon made by https://icons8.com/icon/86320/person"></button></ul>
  </li>
  <div class="hamb">
    <div class="hambline"></div>
    <div class="hambline"></div>
    <div class="hambline"></div>
  </div>

</nav>
