<qa-main-menu></qa-main-menu>
<main>
  <div class="navBarBuffer"></div>
  <section class="headSection">
    <div class="title">Plats : </div>
  </section>
  <section class="menuSectionOne">
    <ng-form class="form" [formGroup]="formCategorie">
      <h2>Catégorie du plat:</h2>
      <div class="input-container ic1">
        <select id="categorie" formControlName="categorie" class="input" (ngModelChange)="changeCarouselPlats($event)">
          <option value="">Tous</option>
          <option value="ENTREE">Entrée</option>
          <option value="PRINCIPAL">Plat principal</option>
          <option value="DESSERT">Dessert</option>
        </select>
      </div>
    </ng-form>
    <ngb-carousel *ngIf="plats" class="carousel-accueil">
      <ng-template *ngFor="let plat of platsToDisplay" ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="{{URL_API + '/photos/' + plat.photo}}" alt="c'est un plat" class="img-carousel" />
        </div>
        <div class="carousel-caption">
          <h3>{{plat.nomPlat}}</h3>
          <p>{{plat.description}}</p>
          <p class="danger" *ngIf="checkAllergenes(plat)">
            /!\ Vous avez indiqué être allergique à l'un de ces éléments dans ce plat : {{findAllergene(plat)}}
          </p>
        </div>
      </ng-template>
    </ngb-carousel>
    <div class="description">
      <div class="slogan">Nos plats</div>
      <div>
        <p>
          Ci dessus nos plats préparés avec passion et goût de la bonne chaire. Entrées, plats, desserts, poisson,
          viande, recettes végétariennes, vegan, soyez certain de pouvoir trouver votre bonheur parmis la plétore
          de plats concoctés par nos chefs cuistot!
        </p>
      </div>
    </div>
  </section>
<div class="transition"></div>
  <section class="headSection">
    <div class="title">Menus : </div>
  </section>
  <section class="menuSectionOne">
    <ng-form class="form" [formGroup]="formMenus">
      <h2>Votre choix de menu :</h2>
      <div class="input-container ic1">
        <select id="menus" [(ngModel)]="autoSelectMenu" formControlName="menus" class="input" (ngModelChange)="changeCarouselMenus($event)">
          <option *ngFor="let menu of menus" value="{{menu.nomMenu}}">{{menu.nomMenu}}</option>
        </select>
      </div>
    </ng-form>
    <div class="description">
      <div class="slogan">{{menu.nomMenu?.toUpperCase()}}</div>
      <div *ngIf="menu != undefined">
        <div *ngFor="let formule of menu.formules">
          <h3> - {{formule.nomFormule}} - </h3>
          <div *ngFor="let plat of formule.plats">
            <p>{{plat.nomPlat}}</p>
            <p class="danger" *ngIf="checkAllergenes(plat)">
              /!\ Vous avez indiqué être allergique à l'un de ces éléments dans ce plat : {{findAllergene(plat)}}
            </p>
          </div>

        </div>
      </div>
    </div>
    <ngb-carousel *ngIf="plats" class="carousel-accueil">
      <ng-template *ngFor="let image of platsOfMenu" ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="{{URL_API + '/photos/' + image}}" alt="c'est un plat" class="img-carousel" />
        </div>
      </ng-template>
    </ngb-carousel>
  </section>
</main>
