<qa-main-menu></qa-main-menu>
<main>
  <div class="navBarBuffer"></div>
  <section class="headSection">
    <div class="title">Profil</div>
  </section>
  <section class="profilSection">
    <ng-form [formGroup]="formConnexion" class="form">
      <div class="title">Se connecter</div>
      <div class="input-container ic1">
        <label for="email">Votre mail :</label>
        <input formControlName="email" id="email" class="input" type="text" placeholder=" " />
        <div *ngIf="email?.invalid && formSubmitted" class="form-error">L'adresse mail est invalide</div>
        <div class="cut"></div>
      </div>
      <div class="input-container ic1">
        <label for="mdp">Votre mot de passe :</label>
        <input formControlName="password" id="mdp" class="input" type="password" placeholder=" " />
        <div *ngIf="password?.invalid && formSubmitted" class="form-error">Le mot de passe est invalide</div>
        <div class="cut"></div>
      </div>
      <div class="btn-container icl">
        <button class="btnProfile" (click)="authenticate()">Se connecter</button>
        <div class="cut"></div>
      </div>
      <div class="link-container">
        Pas encore de compte? <a routerLink="/profil/creation" routerLinkActive="active" class="link">Créer mon compte</a>
      </div>
      <div class="form-error">{{errConnexion}}</div>
    </ng-form>
  </section>
</main>
