
<ng-form *ngIf="menu.nomMenu != undefined" class="col-md-12 col-6 text-dark" [formGroup]="formChangementMenu">
  <div class="card m-3">
    <h5 class="card-header">{{menu.nomMenu}}</h5>
    <div class="card-body">
      <div class="form-group col" >
        <label for="nom" class="me-1">Nom du menu : </label>
        <input type="text" autocomplete="off" name="nom" id="nom" class="form-control" formControlName="nom" placeholder="{{menu.nomMenu}}">
        <div *ngIf="nom?.invalid" class="text-danger">Le nom n'est pas valide</div>
      </div>
      <div class="form-group col" >
        <label for="description" class="me-1">Description : </label>
        <textarea name="description" id="description" class="form-control" formControlName="description" placeholder="{{menu.description}}"></textarea>
        <div *ngIf="description?.invalid" class="text-danger">La description n'est pas valide</div>
      </div>
      <legend>Formules présentes dans le menu : </legend>
      <div *ngFor="let formule of menu.formules" class="form-group">
        <label>{{formule.nomFormule}}</label>
      </div>
      <div class="text-center"><button (click)="patchMenu()" class="button btn-primary">Changer</button></div>
      <div class="text-danger">{{feedbackMessage}}</div>
    </div>
  </div>
</ng-form>
