<main>
  <div class="navBarBuffer"></div>
  <section class="headSection">
    <div class="title">Bienvenue au Quai Antique!</div>
  </section>
  <section class="menuSectionOne">
    <ngb-carousel *ngIf="plats" class="carousel-accueil">
      <ng-template *ngFor="let image of plats" ngbSlide>
        <div class="picsum-img-wrapper" (mouseenter)="showCaption()" (mouseleave)="hideCaption()">
          <img src="{{URL_API + '/photos/' + image.photo+'.png'}}" alt="c'est un plat" class="img-carousel" />
        </div>
        <div class="carousel-caption" [hidden]="captionHidden">
          <h3>{{image.nomPlat}}</h3>
          <p>{{image.description}}</p>
        </div>
      </ng-template>
    </ngb-carousel>
    <div class="description">
      <h1 class="slogan">Les recettes de grand mère avec des ingrédients 100% locaux!</h1>
      <div>
        <p>En lien avec des fermes de Chambery, les restaurants du Quai Antique vous proposent
          des plats 100% bio ravivant les passions pour les saveurs d'antan.</p>
      </div>
      <div class="btnCenter"><button class="description">RÉSERVER</button></div>
    </div>
  </section>
  <div class="transition"></div>
  <section class="headSection">
    <div class="title">Horaires d'ouverture :</div>
  </section>
  <section class="menuSectionTwo">
    <div class="Carousel">
      <div class="photoHandler">
        <img src="../../../assets/images/QAOutside.png"
             alt="Savoureux burgers dans un plus grand burger">
      </div>
    </div>
    <div class="description">
      <div class="openHours">
        <div *ngFor="let horaire of horaires" class="tabSquare">
          <div class="weekDay">{{horaire.jourSemaine + " :"}}</div>
          <div class="hours">
            <div class="lunch">{{horaire.ouvertureDejeuner}} - {{horaire.fermetureDejeuner}}</div>
            <div class="diner">{{horaire.ouvertureDiner}} - {{horaire.fermetureDiner}}</div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
